node_modules
.scratch
!.scratch/PLACEHOLDER
qjs
qjsc
!out/PLACEHOLDER
build
build_*
!build_quickjs.sh
!build_osxcross.sh
!js_server/src/lib/xxHash/build
tools-bin
!tools-bin/PLACEHOLDER
*_meta.json
*.qjsbc
private_signing_key.pem
public_signing_key
jsockd_binary_private_signing_key.pem
js_server/src/js/gen_*

