name: jsockd CI pipeline
run-name: ${{ github.actor }}
on:
  push:
  pull_request:
jobs:
  CI:
    runs-on: ubuntu-24.04
    steps:
      - name: Check out repository code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up MacOS Cross Compiler
        uses: Timmmm/setup-osxcross@v2
        with:
          osx-version: "15.5"

      - name: Set up tools
        run: ./ci.sh setup

      - name: Log versions
        run: ./ci.sh log_versions

      - name: Check JSockD version constants
        run: ./ci.sh check_jsockd_version_constants

      - name: Run shellcheck
        run: ./ci.sh shellcheck

      - name: Check jsockd_server formatting
        run: |
          ./ci.sh check_jsockd_server_formatting

      - name: Cache QuickJS build output
        id: cache-quickjs-build-output
        uses: actions/cache@v4
        with:
          path: |
            .scratch/quickjs
            tools-bin
          # This key is based on the hash of the build script to ensure cache
          # is updated when the script changes.
          key: ${{ runner.os }}-quickjs-${{ hashFiles('build_quickjs.sh') }}-${{ hashFiles('quickjs.patch') }}-${{ hashFiles('fil-c-quickjs.patch') }}

      - name: Build QuickJS
        if: steps.cache-quickjs-build-output.outputs.cache-hit != 'true'
        run: ./ci.sh build_quickjs

      - name: Build jsockd_server
        run: |
          ./ci.sh build_jsockd_server

      - name: Run jsockd_server tests
        run: ./ci.sh run_jsockd_server_tests

      - name: Cross-compile jsockd_server for Linux/ARM64
        run: |
          ./ci.sh build_jsockd_server_linux_arm64

      - name: Cross-compile jsockd_server for MacOS/ARM64
        run: |
          ./ci.sh build_jsockd_server_darwin_aarch64

      - name: Compile jsockd_server with Fil-C for Linux/x86_64
        run: |
          ./ci.sh build_jsockd_server_linux_x86_64_filc

      - name: Run jsockd_server Valgrind tests
        run: ./ci.sh run_jsockd_server_valgrind_tests

      - name: Run jsockd_server Valgrind tests with non-newline sep
        run: ./ci.sh run_jsockd_server_valgrind_tests_with_non_newline_sep

      - name: Run jsockd_server Valgrind eval tests
        run: ./ci.sh run_jsockd_server_valgrind_eval_tests

      - name: Run jsockd_server E2E tests
        run: ./ci.sh run_jsockd_server_e2e_tests

      - name: Run JSockD Go client tests
        run: ./ci.sh run_jsockd_go_client_tests

      - name: Run jsockd_server stress tests implemented in Go (Debug build)
        run: ./ci.sh run_jsockd_go_stress_tests_with_debug_build

      - name: Run jsockd_server stress tests implemented in Go (Release build)
        run: ./ci.sh run_jsockd_go_stress_tests_with_release_build

      - name: Run jsockd_server idle timeout stress tests implemented in Go (Debug build)
        run: ./ci.sh run_jsockd_go_idle_timeout_stress_tests_with_debug_build

      - name: Run jsockd_server idle timeout stress tests implemented in Go (Release build)
        run: ./ci.sh run_jsockd_go_idle_timeout_stress_tests_with_release_build

      - name: Package binaries
        env:
          JSOCKD_RELEASE_ARTEFACT_PRIVATE_SIGNING_KEY: ${{ secrets.JSOCKD_RELEASE_ARTEFACT_PRIVATE_SIGNING_KEY }}
        run: ./ci.sh package_binaries

      - name: Upload release artifacts
        uses: actions/upload-artifact@v4
        with:
          name: jsockd-release-artifacts
          path: |
            ${{ github.workspace }}/jsockd_server/jsockd-*.tar.gz
            ${{ github.workspace }}/jsockd_server/checksums.txt
            ${{ github.workspace }}/jsockd_server/ed25519_signatures.txt
  release:
    runs-on: ubuntu-24.04
    needs: CI
    if: github.ref_type == 'tag'
    permissions:
      contents: write
    steps:
      - name: Check out repository code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Download release artifacts
        uses: actions/download-artifact@v4
        with:
          name: jsockd-release-artifacts
          path: jsockd_server
      - name: Create release
        env:
          GITHUB_TOKEN: ${{ github.TOKEN }}
        run: ./ci.sh github_actions_create_release $(basename "${{ github.ref }}")
  windows:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - uses: ilammy/msvc-dev-cmd@v1
        with:
          arch: x64
      - name: Set up tools
        shell: cmd
        run: |
          echo Y | winget install -e --id GnuWin32.Make
          winget install -e --id JernejSimoncic.Wget
          cd ${{ github.workspace }}
          mkdir .scratch
          cd .scratch
          git clone https://github.com/bellard/quickjs
          cd quickjs
          git checkout f1139494d18a2053630c5ed3384a42bb70db3c53
          "%PROGRAMFILES%\Git\bin\sh.exe" unicode_download.sh
          git apply ../../draft-win-patch
          "C:\Program Files\Git\bin\bash.exe" -c "wget --recursive --no-parent --reject 'index.html*' --tries=3 --timeout=10 --ftp-user=anonymous --ftp-password=you@example.com --directory-prefix=./pthreads-win32-tmp ftp://sourceware.org/pub/pthreads-win32/dll-latest/"
          echo "LIB DIR ECHO"
          dir pthreads-win32\lib
          "C:\Program Files\Git\bin\bash.exe" -c "/c/Program\ Files\ */GnuWin32/bin/make.exe CC=cl CFLAGS='/std:c11 /experimental:c11atomics -Ipthreads-win32/include -D__maybe_unused -Dforce_inline' LDFLAGS='-Lpthreads-win32/lib'"
